<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>模板页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="./asset/css/layui.css">
    <link rel="stylesheet" href="./asset/css/element-ui.css">
    <link rel="stylesheet" href="./asset/css/font-awesome.min.css">
    <link rel="stylesheet" href="./asset/css/common.css">
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
<div id="app" class="login" :class="{active: pageShow}">
    <div class="login-main">
        <div class="login-main-head"></div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" class="demo-ruleForm">
            <input type="text" style="display: none">
            <input type="password" style="display: none">
            <el-form-item prop="username">
                <el-input v-model="ruleForm.username" @keyup.enter.native="handleSubmitForm('ruleForm')">
                    <span class="prefix-text" slot="prefix">用户名</span>
                </el-input>
            </el-form-item>
            <el-form-item prop="password" :error="passwordError">
                <el-input v-model="ruleForm.password" type="password"
                          @keyup.enter.native="handleSubmitForm('ruleForm')">
                    <span class="prefix-text" slot="prefix">密码</span>
                </el-input>
            </el-form-item>
            <el-form-item class="submit">
                <el-button type="primary" @click="handleSubmitForm('ruleForm')">登录</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>

</body>
<script src="./asset/js/layui.all.js"></script>
<script src="./asset/js/vue.js"></script>
<script src="./asset/js/vue-resource.min.js"></script>
<script src="./asset/js/element-ui.js"></script>
<script src="./asset/js/md5.js"></script>
<script src="./asset/js/util.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                pageShow: true,
                ruleForm: {
                    username: '',
                    password: ''
                },
                rules: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'},
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                    ],
                },
                passwordError: ''
            }
        },
        //定义事件，从缓存上取数据，速度快，但事件不可以带参数，可在html区内直接运行
        computed: {},
        //监听数值变动时触发的事件， value(val){}
        watch: {},
        //自定义事件，类似于 function aaa(e){e.target.event}
        methods: {
            /* ------------------- insert (增) start -------------------*/

            /* ------------------- insert (增) end -------------------*/

            /* ------------------- delete (删) start -------------------*/

            /* ------------------- delete (删) end -------------------*/

            /* ------------------- update (改) start -------------------*/

            /* ------------------- update (改) end -------------------*/

            /* ------------------- select (查) start -------------------*/

            /* ------------------- select (查) end -------------------*/

            /* ------------------- handle (操) start -------------------*/
            handleSubmitForm:function(formName) {
                var _this=this;
                this.$refs[formName].validate(function(valid){
                    if(valid) {
                        _this.passwordError = '';
//                        var loading = _this.$loading();

                    } else {
                        console.log('error submit!!');
                return false;
            }
            })
                ;
            },

            /* ------------------- handle (操) end -------------------*/
            /**
             *  这里写方法的说明
             * @param id  这里写参数的说明
             * @returns {string} 如果有返回值,这里写返回值的说明
             */
        },
        //页面加载完成时加载指定函数块，数据变动后不变化，只运行一次
        created: function () {

        },
        //虚拟dom,各挂钩加载完成，只运行一次
        mounted: function () {

        }
    })
</script>
</html>